<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <h3>Login to <span style="color: #099E44;">bicoys.ph</span> Admin</h3>
      <br>
      <div class="clearfix"></div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t'} )do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
          </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          <div class="form-group">
            <%= f.submit "Login", class: 'btn btn-primary block full-width m-b' %>
          </div>
          <%= link_to 'Create New Account', new_admin_registration_path, class: 'btn btn-sm btn-white btn-block' %>

          <p class="m-t"> <small>GG Technologies Copyright © 2016</small> </p>
      <% end %>
  </div>
</div>

