<div class="pace  pace-inactive">
	<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
	  	<div class="pace-progress-inner"></div>
		</div>
	<div class="pace-activity"></div>
</div>
<div id="wrapper">
	<nav class="navbar-default-style navbar-static-side" role="navigation" style="height: 100%; position: fixed;">
		<div class="sidebar-collapse" style="height: 100%;">
			<ul class="nav metismenu" id="side-menu" style="height: 100%;">
				<li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_admin.email %></strong>
                             </span> <span class="text-muted text-xs block">User Settings <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <%= link_to 'Home', root_path %>
                            </li>
                            <li><a href="profile.html">Profile</a></li>
                            <li class="divider"></li>
                            <li>
                            	<%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                  
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Orders</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="index.html">All Orders</a></li>
                        <li><a href="index.html">New Order</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Menus</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><%= link_to 'Menus', admins_menus_path %></li>
                        <li><%= link_to 'Add New Menu', new_admins_menu_path %></li>
                    </ul>
                </li>
                <li>
                    <%= link_to 'Plans', admins_plans_path %>
                </li>
			</ul>
		</div>
	</nav>
</div>

	<div id="content"><%= content_for?(:dashboard) ? yield(:dashboard) : yield %></div>

<script type="text/javascript">
	$(function () {
	    $('#side-menu').metisMenu();
	});
</script>