<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <h3>Register to <span style="color: #099E44;">bicoys.ph</span></h3>
      <p>Create an account to see us in action.</p>
      <br>

      <%= link_to user_facebook_omniauth_authorize_path, class: "ui massive facebook fluid labeled icon button facebook-login mb5" do %>
          <i class="icon">
               <i class="fa fa-facebook fa-2x" style="margin-top: 10px;"></i>
          </i>
       
          <span class="fontsize3">Continue with Facebook</span>
      <% end %>
      <div class="clearfix"></div>
      <div class="ui horizontal divider">
        or        
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'm-t'} )do |f| %>
        <%= devise_error_messages! %>
          
          <div class="form-group">
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Fullname', required: true %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
          </div>
          <div class="form-group">
            <% if @minimum_password_length %>
              <p class="m-t"> <small>(<%= @minimum_password_length %> characters minimum)</small> </p>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true %>
          </div>

          <div class="form-group">
 
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation'  %>
          </div>
          <div class="form-group">
            <%= f.submit "Register", class: 'btn btn-primary block full-width m-b' %>
          </div>

          <p class="text-muted text-center"><small>Already have an account?</small></p>
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-sm btn-white btn-block' %>
          <p class="m-t"> <small>GG Technologies Copyright © <%= Time.now.strftime("%Y") %></small> </p>
      <% end %>
  </div>
</div>


